/* 全局定义属性 */
:root {
  --primary-color: #ff9854;

  /* 全局修改: 任何地方只要用到--van-search-left-icon-color都会被修改掉 */
  --van-search-left-icon-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
}  